/* custom.css */
.bg-background {
    background-color: hsl(var(--background));
  }
  
  .bg-background-dark {
    background-color: #2a2b2e; /* Vous pouvez remplacer par hsl si vous utilisez une variable CSS */
  }
  
  .text-primary {
    color: hsl(var(--primary));
  }
  
  .text-primary-foreground {
    color: hsl(var(--primary-foreground));
  }
  
  .text-muted {
    color: hsl(var(--muted));
  }
  
  .text-muted-foreground {
    color: hsl(var(--muted-foreground));
  }
  
  .border-primary {
    border-color: hsl(var(--primary));
  }
  
  .border-muted {
    border-color: hsl(var(--muted));
  }

  .bg-light {
    background-color: #e6f7f9; /* Couleur de fond claire */
  }
  
  .text-dark {
    color: #000000; /* Couleur de texte sombre */
  }
  
  .text-muted {
    color: #6c757d; /* Couleur de texte atténuée */
  }
  
  .border-light {
    border-color: #dee2e6; /* Couleur de bordure claire */
  }

  .search-input {
    background-color: white;
  }

  
  .bg-blue-500 {
    background-color: #1877F2;
  }
  
  .text-white {
    color: white;
  }
  


  .search-input {
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9999px;
  }
  
  .search-input::placeholder {
    color: #6b7280;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;
  }
  
  .search-input:disabled {
    background-color: #f3f4f6;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #6b7280;
    width: 1.25rem;
    height: 1.25rem;
  }

  
  .navbar-item {
    margin-inline-start: 1rem; /* remplace margin-left */
    margin-inline-end: 1rem; /* remplace margin-right */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  body[dir="rtl"] .navbar {
    flex-direction: row-reverse; /* Réverser la direction pour RTL */
  }

  /* custom.css */
.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}


.search-input {
  background-color: white;
  padding-left: 2.5rem; /* Pour laisser de l'espace pour l'icône de la loupe */
  padding-right: 1rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 9999px; /* Pour un effet "rounded-full" */
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #1877F2; /* Ajoute une couleur de bordure personnalisée lors du focus */
  outline: none;
}

.fa-search {
  left: 0.75rem; /* Ajuste la position pour être proche du texte */
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: #333;
  font-size: 1rem;
}